<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Artist Signup</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

    <script>
        // Handle dropdown toggling
        document.addEventListener('DOMContentLoaded', function () {
            const dropdowns = document.querySelectorAll('.dropdown');

            dropdowns.forEach(dropdown => {
                const button = dropdown.querySelector('button');
                const content = dropdown.querySelector('.dropdown-content');

                button.addEventListener('click', function () {
                    // Toggle dropdown content display
                    const isVisible = content.style.display === 'block';
                    content.style.display = isVisible ? 'none' : 'block';
                });
            });

            // Close dropdown if clicked outside
            window.addEventListener('click', function (event) {
                dropdowns.forEach(dropdown => {
                    const content = dropdown.querySelector('.dropdown-content');
                    if (!dropdown.contains(event.target) && content.style.display === 'block') {
                        content.style.display = 'none';
                    }
                });
            });
        });
    </script>
    {% load static %}
    <link rel="icon" type="image/x-icon" href="{% static 'images/color-palette.png' %}">

</head>
<body class="bg-gray-100">
    <!-- Navbar -->
    <nav class="bg-white  shadow fixed top-0 left-0 w-full z-10">
        <div class="container mx-auto px-4 py-5 flex justify-between items-center">
            <a href="" class="text-2xl font-bold text-gray-900">Artistry On Demand</a>
            <div class="space-x-6">
                <a href="" class="text-blue-900 hover:text-blue-500"><i class="fas fa-home"></i> Home</a>
                <a href="#" class="text-blue-900 hover:text-blue-500"><i class="fas fa-info-circle"></i> About</a>
                <a href="{% url 'Services' %}" class="text-blue-900 hover:text-blue-500"><i class="fas fa-paint-brush"></i> Services</a>
                <a href="{% url 'ContactUs' %}" class="text-blue-900 hover:text-blue-500"> <i class="fas fa-envelope"></i> Contact</a>
                <div class="relative inline-block text-left dropdown">
                    <button class="text-gray-600 hover:text-gray-900 inline-flex items-center rounded-full px-4 py-2 bg-green-300" id="artistDropdown"> <i class="fas fa-paint-brush mr-2"></i> 
                        Artist
                        <svg class="ml-1 w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path>
                        </svg>
                    </button>
                    <div class="dropdown-content absolute right-0 mt-2 w-48 bg-white border border-gray-200 shadow-lg" id="artistDropdownContent">
                        <a href="{% url 'artist_login' %}" class="block px-4 py-2 text-gray-700 hover:bg-gray-100"> <i class="fas fa-sign-in-alt mr-2"></i>  Login</a>
                        <a href="{% url 'artist_signup' %}" class="block px-4 py-2 text-gray-700 hover:bg-gray-100"><i class="fas fa-user-plus mr-2"></i> Signup</a>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <div class="min-h-screen flex items-center justify-center mt-20">
        <div class="max-w-lg w-full bg-white p-8 rounded-lg shadow-lg">
            <h2 class="text-2xl font-bold mb-6 text-center text-gray-900">Artist Signup</h2>

            <form method="POST" action="">
                {% csrf_token %}

                <!-- First Name -->
                <div class="mb-4">
                    <label for="first_name" class="block text-gray-700">First Name</label>
                    <input type="text" id="first_name" name="first_name" value="{{ form.first_name.value|default_if_none:'' }}" class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring focus:ring-blue-500" required>
                    {% if form.first_name.errors %}
                    <div class="text-red-500 text-xs">{{ form.first_name.errors }}</div>
                    {% endif %}
                </div>

                <!-- Last Name -->
                <div class="mb-4">
                    <label for="last_name" class="block text-gray-700">Last Name</label>
                    <input type="text" id="last_name" name="last_name" value="{{ form.last_name.value|default_if_none:'' }}" class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring focus:ring-blue-500" required>
                    {% if form.last_name.errors %}
                    <div class="text-red-500 text-xs">{{ form.last_name.errors }}</div>
                    {% endif %}
                </div>

                <!-- Username -->
                <div class="mb-4">
                    <label for="username" class="block text-gray-700">Username</label>
                    <input type="text" id="username" name="username" value="{{ form.username.value|default_if_none:'' }}" class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring focus:ring-blue-500" required>
                    {% if form.username.errors %}
                    <div class="text-red-500 text-xs">{{ form.username.errors }}</div>
                    {% endif %}
                </div>

                <!-- Email -->
                <div class="mb-4">
                    <label for="email" class="block text-gray-700">Email</label>
                    <input type="email" id="email" name="email" value="{{ form.email.value|default_if_none:'' }}" class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring focus:ring-blue-500" required>
                    {% if form.email.errors %}
                    <div class="text-red-500 text-xs">{{ form.email.errors }}</div>
                    {% endif %}
                </div>

                <!-- Phone Number -->
                <div class="mb-4">
                    <label for="phone_number" class="block text-gray-700">Phone Number</label>
                    <input type="text" id="phone_number" name="phone_number" value="{{ form.phone_number.value|default_if_none:'' }}" class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring focus:ring-blue-500" required>
                    {% if form.phone_number.errors %}
                    <div class="text-red-500 text-xs">{{ form.phone_number.errors }}</div>
                    {% endif %}
                </div>

                <!-- Password -->
                <div class="mb-4">
                    <label for="password1" class="block text-gray-700">Password</label>
                    <input type="password" id="password1" name="password1" class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring focus:ring-blue-500" required>
                    {% if form.password1.errors %}
                    <div class="text-red-500 text-xs">{{ form.password1.errors }}</div>
                    {% endif %}
                </div>

                <!-- Confirm Password -->
                <div class="mb-6">
                    <label for="password2" class="block text-gray-700">Confirm Password</label>
                    <input type="password" id="password2" name="password2" class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring focus:ring-blue-500" required>
                    {% if form.password2.errors %}
                    <div class="text-red-500 text-xs">{{ form.password2.errors }}</div>
                    {% endif %}
                </div>

                <!-- Submit Button -->
                <button type="submit" class="w-full bg-blue-600 text-white px-4 py-2 rounded-lg hover:bg-blue-700 transition-colors">Sign Up</button>
            </form>
        </div>
    </div>
    <footer class="bg-gray-900 text-white text-center py-4">
        <p>&copy; 2024 Artistry On Demand. All rights reserved.</p>
    </footer>
    
</body>

</html>
