<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Artistry On Demand</title>
    {% load static %}
    <link rel="icon" type="image/x-icon" href="{% static 'images/color-palette.png' %}">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <!-- Add Swiper CDN for Carousel -->
    <!-- Swiper CSS -->
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />

    <!-- Swiper JS -->
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>


    <link rel="stylesheet" href="{% static 'appln/styles.css' %}">
    <style>
		/* Custom Swiper CSS */
		.swiper-container {
			width: 100%;
			padding-top: 10px;
			padding-bottom: 10px;
		}

		.swiper-slide {
			display: flex;
			justify-content: center;
		}

		.swiper-pagination {
			position: absolute;
			bottom: 10px;
			width: 100%;
			text-align: center;
		}

		

    </style>
</head>
<body class="bg-gray-100">

    <!-- Navbar -->
    <nav class="bg-white  shadow fixed top-0 left-0 w-full z-10">
        <div class="container mx-auto px-4 py-5 flex justify-between items-center">
            <a href="" class="text-2xl font-bold text-blue-900">Artistry On Demand</a>
            <div class="space-x-6">
                <a href="" class="text-blue-900 hover:text-blue-500">Home</a>
                <a href="#" class="text-blue-900 hover:text-blue-500">About</a>
                <a href="{% url 'Services' %}" class="text-blue-900 hover:text-blue-500">Services</a>
                <a href="#" class="text-blue-900 hover:text-blue-500">Contact</a>
                <!-- Dropdown: User -->
                <div class="relative inline-block text-left dropdown">
                    <button class="text-gray-600 hover:text-gray-900 inline-flex items-center rounded-full px-4 py-2 bg-blue-300" id="userDropdown">
                        User
                        <svg class="ml-1 w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path>
                        </svg>
                    </button>
                    <div class="dropdown-content absolute right-0 mt-2 w-48 bg-white border border-gray-200 shadow-lg" id="userDropdownContent">
                        <a href="User-Login" class="block px-4 py-2 text-gray-700 hover:bg-gray-100">Login</a>
                        <a href="User-Signup" class="block px-4 py-2 text-gray-700 hover:bg-gray-100">Signup</a>
                    </div>
                </div>
                <!-- Dropdown: Artist -->
                <div class="relative inline-block text-left dropdown">
                    <button class="text-gray-600 hover:text-gray-900 inline-flex items-center rounded-full px-4 py-2 bg-green-300" id="artistDropdown">
                        Artist
                        <svg class="ml-1 w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path>
                        </svg>
                    </button>
                    <div class="dropdown-content absolute right-0 mt-2 w-48 bg-white border border-gray-200 shadow-lg" id="artistDropdownContent">
                        <a href="Artist-Login" class="block px-4 py-2 text-gray-700 hover:bg-gray-100">Login</a>
                        <a href="Artist-Signup" class="block px-4 py-2 text-gray-700 hover:bg-gray-100">Signup</a>
                    </div>
                </div>
            </div>
        </div>
    </nav>

    <!-- Hero Section -->
    <section class="relative bg-gray-800 text-white py-32 text-center">
        <div class="absolute inset-0 bg-gradient-to-r from-black to-transparent opacity-60"></div>
        <div class="container mx-auto relative z-10">
            <h1 class="text-5xl font-bold mb-4">Welcome to Artistry On Demand</h1>
            <p class="text-2xl mb-8">Bringing your imagination to life through art</p>
            <a href="#" class="bg-blue-500 text-white px-8 py-4 rounded-lg hover:bg-blue-600 text-lg">Explore Our Services</a>
        </div>
        <div class="absolute inset-0 bg-fit bg-center" style="background-image: url('https://cdn.pixabay.com/photo/2022/06/24/12/00/hd-wallpaper-7281586_1280.jpg');opacity:20%"></div>
    </section>

    <section class="py-1 bg-white">
        <div id="art-listings" class="bg-white p-8 rounded-lg shadow-lg mt-8">
            <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8">
                {% for artwork in artworks %}
                <div class="bg-gray-50 rounded-xl shadow-2xl hover:shadow-3xl transition-shadow duration-300 ease-in-out transform hover:scale-105 overflow-hidden border-4 border-gray-200">

                    <!-- Artist Info -->
                    <div class="flex items-center p-4 bg-white border-b border-gray-200">
                        {% if artwork.artist.profiles.first and artwork.artist.profiles.first.profile_photo %}
                        <img src="{{ artwork.artist.profiles.first.profile_photo.url }}" alt="Artist Photo" class="w-10 h-10 rounded-full object-cover mr-3 shadow-sm">
                        {% else %}
                        <img src="{% static 'images/Default.png' %}" alt="Default Artist Photo" class="w-10 h-10 rounded-full object-cover mr-2 shadow-sm">
                        {% endif %}
                        <div>
                            <span class="text-gray-500 font-semibold" style="text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);">
                                {{ artwork.artist.first_name }}
                            </span>
                        </div>
                    </div>

                    <!-- Artwork Image or Video -->
                    <div class="relative mb-4">
                        {% if artwork.image_path %}
                        <img class="rounded-t-sm w-full h-48 object-cover" src="{{ artwork.image_path.url }}" alt="{{ artwork.title }}">
                        {% elif artwork.video_path %}
                        <video class="rounded-t-xl w-full h-100 object-cover" controls>
                            <source src="{{ artwork.video_path.url }}" type="video/mp4">
                            Your browser does not support the video tag.
                        </video>
                        {% endif %}
                    </div>

                    <!-- Artwork Details -->
                    <div class="px-4">
                        <h3 class="text-xl font-semibold text-blue-900 truncate mb-1 flex items-center" style="text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);">
                            <i class="fas fa-palette mr-2 text-blue-700"></i> <!-- Palette icon -->
                            {{ artwork.title }}
                        </h3>

                        <hr class="border border-gray-300 my-2 px-0">

                    </div>

                    <!-- Description -->
                    <div class="px-4 py-2">
                        <p class="text-gray-500 text-sm font-semibold truncate mb-2">{{ artwork.description }}</p>
                    </div>

                    <!-- Price and Details Button -->
                    <div class="flex justify-between items-center p-4 bg-gray-100 rounded-b-xl">
                        <p class="text-md font-bold text-indigo-600" style="text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);">
                            Price: ${{ artwork.price }}
                        </p>
                        <a href="{% url 'viewArtworkById' artwork.artwork_id %}" class="text-white bg-indigo-600 hover:bg-indigo-700 py-2 px-4 rounded-md shadow-lg transition-colors duration-300 ease-in-out transform hover:scale-105">
                            View Details
                        </a>
                    </div>
                </div>
                {% empty %}
                <p class="text-center col-span-3 text-gray-500">No artworks available at the moment.</p>
                {% endfor %}
            </div>
        </div>
    </section>


    <!-- Footer Section -->
    <footer class="bg-gray-900 text-white text-center py-4">
        <p>&copy; 2024 Artistry On Demand. All rights reserved.</p>
    </footer>

    <script>
        // Handle dropdown toggling
        document.addEventListener('DOMContentLoaded', function () {
            const dropdowns = document.querySelectorAll('.dropdown');

            dropdowns.forEach(dropdown => {
                const button = dropdown.querySelector('button');
                const content = dropdown.querySelector('.dropdown-content');

                button.addEventListener('click', function () {
                    // Toggle dropdown content display
                    const isVisible = content.style.display === 'block';
                    content.style.display = isVisible ? 'none' : 'block';
                });
            });

            // Close dropdown if clicked outside
            window.addEventListener('click', function (event) {
                dropdowns.forEach(dropdown => {
                    const content = dropdown.querySelector('.dropdown-content');
                    if (!dropdown.contains(event.target) && content.style.display === 'block') {
                        content.style.display = 'none';
                    }
                });
            });
        });

		var swiper = new Swiper('.swiper-container', {
			slidesPerView: 1,   // Number of slides visible at once
			spaceBetween: 10,    // Space between slides
			navigation: {
				nextEl: '.swiper-button-next',
				prevEl: '.swiper-button-prev'
			},
			pagination: {
				el: '.swiper-pagination',
				clickable: true,
			},
			breakpoints: {
				// Responsive breakpoints to show more slides on larger screens
				640: {
					slidesPerView: 2,
				},
				768: {
					slidesPerView: 3,
				},
				1024: {
					slidesPerView: 4,
				},
			},
			loop: true,  // Infinite loop
			autoplay: {
				delay: 2500,  // Slide change delay
				disableOnInteraction: false,
			},
		});
    </script>

</body>
</html>